.container {
  max-width: 500px;
  margin: auto;
}

.ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.li {
  background-color: #28a745;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  border-radius: 5px;
  &:hover {
    background-color: #218838;
  }
}

.li.active {
  background-color: #01330d;
}
